html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.ant-card + .ant-card{
  margin-bottom: 10px;
}

.wkit-connected-container, .wkit-button{
  width: 100% !important;
  line-height:10px !important
}
.wkit-connected-button, .wkit-button{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wkit-disconnect-button__container{
  z-index: 22;
}