.container {
  padding: 1rem;
}

.main {
  max-width: 1080px;
  margin: 0 auto;
}
.connectBox{
  display: flex;
  justify-content:flex-end;
}
.connectButton{
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.walletContainer{
  padding-bottom: 20px;
}